        // Body
    p{
        padding: 3.5vh 0;
    }
        
        // Header
.headerImage{
    background-color: $white;
    height: 525px;
    width: 375px;
    position: absolute;
    position: relative;
    bottom:15px;
    right: 15px;
}

.headerImageBackground{
    background-color: $white;
    height: 525px;
    width: 375px;
    // position: absolute;
}

.headerFlex{
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    margin: 10vh;
    position: relative;
}

.harper{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    // margin-left: 75px;
    position: absolute;
    top: 150px;
    left: 500px;
    // align-self: center;
    img{
        height: calc( 172px * 0.75);
        width: calc( 182px * 0.75);

        position: absolute;
        top: -30px;
        right: -10%;
    }
    // img's & h1 may need to be bigger
}


        // Main
        // Section 1
.sectionOne{
    background-color: $primary4;
    height: 60vh;
    .sect1flex{
        display: flex;
        align-items:flex-end;
        justify-content: flex-end;
    }
}
.section1{
    // height: 25vh;
    margin-top: 15vh;
    width: 50%;
}

            // Section 2

.sectionTwo{
    background-color: $primary4;
    // height: 140vh;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    .s2bgroundimg{
    background-image: url(/harper-designAndAssets/assets/home-image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    }
    // width: 100%;}
    // display: flex;
    // align-items: flex-end;
    .wrapper{
        margin-top: 10vh;
        display: flex;
        flex-wrap: wrap;
    }
    
    .fontAwesome{
        display:flex;
        // margin-right: 1%;
        width: 49%;
        .icon{
            background-color: $primary3;
            border: $primary3 1px solid;
            border-radius: 50%;
            height: 40px;
            width: 125px;
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            .fas{
                font-size: 16px;
            }
        }
    }
    .photos, .blog{
        margin-right: 2%;
    }
}

            // Section 3 & 4
.sectionThree, .sectionFour{
    height: 50vh;
    max-width: 1200px;
    .flex{
        display: flex;
        // align-items: center;
        // justify-content: center;
        // text-align: center;
    }
    img{
        height: 303.375px;
        width: 480px;
    }
}

.harpersTravels, .favouriteThings{
    // padding: 0 8%;
    // width: 50%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    p{
        padding: 3.5vh 0;
    }
}

.sectionThree{
    // display: flex;
    position: relative;
    .travelsImgBackground{
        background-color: $primary2;
        height: 303.375px;
        width: 48.75%;
        margin-right: 8%;
        position: absolute;
        // top: 20%;
    }
    img{
        margin-left: 7.5%;
        position: absolute;
        bottom: 12%;
    }
}

.harpersTravels{
    // margin-left: 8%;
    padding-left: 8%;
    padding-top: 6.5%;
    position: absolute;
    left: 50%;
}

.favouriteThings{
    // padding: 0 8%;
    width: 50%;
    display: flex;
    flex-direction: clumn;
    position: absolute;
    z-index: 30;
    a{
        align-self: flex-end
    }
}

        // Section 4
    .sectionFour{
        display: flex;
        // flex-direction: row-reverse;
        justify-content: flex-endS;
        position: relative;
        // margin: 0;
        img{
            // margin-right: 7.5%;
            position: absolute;
            z-index: 20;
            // top: 12%;
        }
        .favImgBackground{
            background-color: $primary3;
            height: 303.375px;
            // width: 48.75%;.]
            // margin-right: 8%;
            position: absolute;
            z-index: 10;
        }
    }
// .sectionFour{
//     height: 50vh;
//     .wrapper{
//         display: flex;
//         // flex-direction: row-reverse;
//         img{
//             height: 303.375px;
//             width: 480px ;
//         }
//     }

    
// }

        // Section 5
.sectionFive{
    background-color: $primary4;
    height: 60vh;
    .wrapper{
        display: flex;
        padding-top: 7%;
        img{
            height: 228px;
            width: 228px;
        }
        }
    }
.harpersJourney{
    // width: 75%;
    padding: 0 8%;
}


        // Section 6
.sectionSix{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    div{
        display: flex;
        justify-content: center;
    }
}
.image{
    height: 300px;
    width: 300px;
    margin: 0 2%;
}

.subscribeBox{
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $black;
    border: 1px solid black;
    height: 20vh;
    width: 50%;
    position: absolute;
    visibility: hidden;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button{
            color: $white;
        }
    }
}

// at width 1137px header moves below; elements start to overlap; header may need to be longer vh at this point
// section 3,4 and 6 need to display column at 50% width