        // Body
h3{
    font-size: 1.6rem;
}
p{
    padding: 3.5vh 0;
}
        
        // Header

.headerFlex{
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    margin: 10vh;
    position: relative;
    // right: 10%;
    .headerImgFlex{
        position: relative;
        right: 8%;
        .headerImage{
            background-color: $white;
            height: 525px;
            width: 375px;
            // position: absolute;
            position: relative;
            bottom:525px;
            // right: 15px;
        }
        
        .headerImageBackground{
            background-color: $white;
            height: 525px;
            width: 375px;
            position: relative;
            bottom: -15px;
            left: 15px;
            // position: absolute;
        }
    }

    .harperTitle{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        position: relative;
        right: 5%;
        // margin-left: 75px;
        position: absolute;
        top: 150px;
        left: 500px;
        // align-self: center;
        img{
            height: calc( 172px * 0.75);
            height: calc( 172px * 0.9);
            // height: 172px ;
            width: calc( 182px * 0.75);
            width: calc( 182px * 0.9);
            // width: 182px;
    
            position: absolute;
            top: -40px;
            right: -10%;
        }
        // img's & h1 may need to be bigger
    }
}

//     // img's & h1 may need to be bigger
// }


        // Main
        // Section 1
.sectionOne{
    background-color: $primary4;
    height: 60vh;
    .sect1flex{
        display: flex;
        align-items:flex-end;
        justify-content: flex-end;
        .section1{
            // height: 25vh;
            margin-top: 65px;
            margin-top: 79px;
            // margin-top: 15vh;
            width: 50%;
            // p{
                // margin: 0px 0;
        }        
    }
}
// .section1{
    // height: 25vh;
    // margin-top: 65px;
    // width: 50%;
    // p{
        // margin: 0px 0;

    // }
// }

            // Section 2

.sectionTwo{
    background-color: $primary4;
    height: 150vh;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    .s2bgroundimg{
    background-image: url(/harper-designAndAssets/assets/home-image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    // width: 100vw;
    // img is cut off at bottom. Need to fix.
    }
    // width: 100%;}
    // display: flex;
    // align-items: flex-end;
    .sec2{
        margin-top: 15vh;
        margin-top: 79px;
        margin-bottom: 15vh;
        margin-bottom: 85px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .fontAwesome{
        display:flex;
        // margin-right: 1%;
        width: 49%;
        .icon{
            background-color: $primary3;
            border: $primary3 1px solid;
            border-radius: 50%;
            height: 40px;
            width: 125px;
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            .fas{
                font-size: 16px;
            }
        }
    }
    .photos, .blog{
        margin-right: 2%;
    }
    .contact, .blog{
        margin-top: 2%;
    }
}

            // Section 3 & 4
.sectionThree, .sectionFour{
    height: 50vh;
    max-width: 1200px;
    .flex{
        display: flex;
        // align-items: center;
        // justify-content: center;
        // text-align: center;
    }
    img{
        height: 303.375px;
        width: 480px;
    }
}

.harpersTravels, .favouriteThings{
    // padding: 0 8%;
    // width: 50%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    p{
        padding: 3.5vh 0;
    }
}

.sectionThree{
    display: flex;
    height: 50vh;
    // position: relative;
    // .travelsImgBackground{
    //     background-color: $primary2;
    //     height: 303.375px;
    //     height: 53vh;
    //     width: 48.75%;
    //     width: 50vw;
    //     width: 650px;
    //     margin-right: 8%;
    //     // position: relative;
    //     // z-index: 10;
    //     // top: 20%;
    //     // bottom: -342px;
    margin-bottom: 5px;
    margin-bottom: 78px;
    .sec3{
        display: flex;
        // flex-wrap: wrap;
        height: 50vh;
        position: relative;
        // bottom: 53vh;
        // z-index: 20;
        // justify-content: space-between;
        .harpersTravelsImg{
            position: relative;
            // align-self: flex-end;
            // position: absolute;
            .travelsImgBackground{
                background-color: $primary2;
                height: 303.375px;
                height: 53vh;
                width: 48.75%;
                width: 50vw;
                width: 650px;
                width: 683px;
                // margin-right: 8%;
                position: relative;
                position:absolute;
                z-index: 10;
                // top: 20%;
                // bottom: -342px;
                // bottom: 25px;
                bottom: 5px;
                left: -18.4%;
                left: -120px;
                // right: 12.35%;
                // right: 18.5%;
                right: 0%;
            }
            img{
                // margin-left: 7.5%;
                height: calc(400px * 0.85);
                // height: calc(400px * 0.81);
                width: calc(640px * 0.80);
                width: calc(640px * 0.85);
                position: absolute;
                position: relative;
                bottom: 12%;
                bottom: 385px;
                bottom: 40px;
                bottom: 24px;
                bottom: 42px;
                // left: 117px;
                // left: 10%;
                // left: 3px;
                z-index: 20;
            }
        }
        .harpersTravels{
            align-self: flex-end;
            // width: 50%;
            // margin-left: 8%;
            // padding-left: 8%;
            // padding-top: 6.5%;
            position: absolute;
            position: relative;
            bottom: 7.6px;
            left: 50%;
            left: 65%;
            left: 10%;
            p{
                width: 35vw;
            }
        }
        // Can't figure out how to widen p tag
    }
}

    // Section 4

.sectionFour{
    height: 50vh;
    // display: flex;
    // flex-direction: row-reverse;
    // justify-content: flex-end;
    position: relative;
    // margin: 0;
    .sec4{
        display: flex;
        // flex-direction: row-reverse;
        justify-content: space-between;
        // position: relative;
        .favouriteThings{
            // padding: 0 8%;
            width: 50%;
            display: flex;
            flex-direction: column;
            // position: absolute;
            // position: relative;
            // z-index: 30;
            a{
                align-self: flex-end
            }
        }
        .favouriteThingsImg{
            // position: relative;
            img{
                // margin-right: 7.5%;  
                position: absolute;
                position: relative;
                // z-index: 20;
                // top: 12%;
                height: calc(400px * 0.85);
                width: calc(640px * 0.80);
                width: calc(640px * 0.85);
                left: 145px;
                // right: 0;
                z-index: 20;
            }
            .favI{
                background-color: $primary3;
                height: 303.375px;
                height: 40vh;
                height: 53vh;
                // width: 48.75%;
                width: 50vw;
                width: 650px;
                // margin-right: 8%;
                position: absolute;
                // bottom: 340px;
                // bottom: -19.2px;
                top: 18px;
                // left: 120px;
                right: -150px;
                right: -149px;
                z-index: 10;
            }
        }
    }
}

        // Section 5
.sectionFive{
    background-color: $primary4;
    height: 80vh;
    position: relative;
    .sec5{
        display: flex;
        // margin-top: 20%;
        padding-top: 7%;
        .journeyImg{
            margin-top: 30px;
            img{
                height: 228px;
                height: calc(228px * 1.2);
                width: 228px;
                width: calc(228px * 1.2);
                position: relative;
                z-index: 20;
            }
            .journImgBackground{
                background-color: $primary1;
                height: calc(228px * 1.2);
                width: calc(228px * 1.2);
                position: absolute;
                // position: relative;
                bottom: 130px;
                bottom: 100px;
                left: 150px;
                z-index: 10;
            }
        }
        .harpersJourney{
            // display: flex;
                // flex was causing a tag to display: block;
            flex-direction: column;
            justify-content: space-between;
            // width: 75%;
            margin-top: 30px;
            padding: 0 8%;
            // padding: 0.8%;
            // a{
            //     justify-items: flex-end;
            // }
            p{
                margin: 23px 0;
            }
            a{
                display: inline-block;
            }
        }
    }
}



        // Section 6
.sectionSix{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    div{
        display: flex;
        justify-content: center;
    }
}
.image{
    height: 300px;
    width: 300px;
    margin: 0 2%;
}

// .subscribeBox{
    // display: flex;
    // flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     background-color: $black;
//     border: 1px solid black;
//     height: 20vh;
//     width: 50%;
//     position: absolute;
//     visibility: hidden;
//     form{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         button{
//             color: $white;
//         }
//     }
// }

// at width 1137px header moves below; elements start to overlap; header may need to be longer vh at this point
// section 3,4 and 6 need to display column at 50% width

// Media

@media(max-width: 1250px){
    .headerImgFlex{
        right: 20px;
    }
    .harperTitle{
        left: 25%;
        right: 0%;
        margin-left: 10%;
    }


}