html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body,
h1, h2, h3, h4,
p,
ul,
fieldset,
form {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4,
button,
a {
  color: #171717;
  font-family: oswald, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  font-family: cabin, sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 32px;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #B9DDE7;
  height: 90vh;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

header ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin: 1vh;
  padding: 0 15px;
}

header ul a {
  display: inline-block;
  background-color: transparent;
  font-size: 0.70rem;
  font-size: 1rem;
  height: 10px;
  height: 40px;
  padding: 8px 18px;
}

header ul a:hover {
  color: #fff;
}

h1 {
  font-size: 6rem;
  font-size: 7rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.1rem;
}

.harperLink {
  font-size: 1.5rem;
  font-size: 1.75rem;
  margin-top: 2vh;
  padding: 0 15px;
  text-align: center;
}

form input, form textarea {
  border: 1px solid #fff;
  color: #171717;
  font-family: cabin, sans-serif;
}

button {
  background-color: #f38d8d;
  margin-top: 10px;
}

a {
  display: inline-block;
  background-color: #f38d8d;
  height: 40px;
  padding: 8px 18px;
}

a:focus {
  border: 2px solid #0e0000;
}

a:active {
  color: blue;
}

footer {
  background-color: #171717;
  color: #fff;
  text-align: center;
  height: 50px;
  width: 100%;
}

h3 {
  font-size: 1.6rem;
}

p {
  padding: 3.5vh 0;
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10vh;
  margin: 6vh 0;
  position: relative;
}

.headerFlex .headerImgFlex .headerImage {
  background-color: #fff;
  height: 525px;
  width: 375px;
  position: relative;
  bottom: 525px;
}

.headerFlex .headerImgFlex .headerImageBackground {
  background-color: #fff;
  height: 525px;
  width: 375px;
  position: relative;
  bottom: -15px;
  left: 15px;
}

.headerFlex .harperTitle {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 75px;
  margin-left: 10%;
  top: 150px;
  left: 500px;
}

.headerFlex .harperTitle img {
  height: calc( 172px * 0.75);
  height: calc( 172px * 0.9);
  width: calc( 182px * 0.75);
  width: calc( 182px * 0.9);
  position: relative;
  top: -40px;
  right: -10%;
  top: 115px;
  left: 355px;
}

.sectionOne {
  background-color: #F6f6f6;
  height: 60vh;
}

.sectionOne .sect1flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sectionOne .sect1flex .section1 {
  margin-top: 65px;
  margin-top: 79px;
  width: 50%;
}

.sectionTwo {
  background-color: #F6f6f6;
  height: 150vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionTwo .s2bgroundimg {
  background-image: url(/harper-designAndAssets/assets/home-image-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.sectionTwo .sec2 {
  margin-top: 15vh;
  margin-top: 79px;
  margin-bottom: 15vh;
  margin-bottom: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sectionTwo .fontAwesome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
}

.sectionTwo .fontAwesome .icon {
  background-color: #B9DDE7;
  border: #B9DDE7 1px solid;
  border-radius: 50%;
  height: 40px;
  width: 125px;
  width: 130px;
  margin-right: 20px;
  margin-right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionTwo .fontAwesome .icon .fas {
  font-size: 16px;
}

.sectionTwo .photos, .sectionTwo .blog {
  margin-right: 2%;
}

.sectionTwo .contact, .sectionTwo .blog {
  margin-top: 2%;
}

.sectionThree, .sectionFour {
  height: 50vh;
  max-width: 1200px;
}

.sectionThree .flex, .sectionFour .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionThree img, .sectionFour img {
  height: 303.375px;
  width: 480px;
}

.harpersTravels p, .favouriteThings p {
  padding: 3.5vh 0;
}

.sectionThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  margin-bottom: 5px;
  margin-bottom: 78px;
}

.sectionThree .sec3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  position: relative;
}

.sectionThree .sec3 .harpersTravelsImg {
  position: relative;
}

.sectionThree .sec3 .harpersTravelsImg .travelsImgBackground {
  background-color: #68B0C1;
  height: 303.375px;
  height: 53vh;
  width: 48.75%;
  width: 50vw;
  width: 650px;
  width: 683px;
  position: relative;
  position: absolute;
  z-index: 10;
  bottom: 5px;
  left: -18.4%;
  left: -120px;
  right: 0%;
}

.sectionThree .sec3 .harpersTravelsImg img {
  height: calc(400px * 0.85);
  width: calc(640px * 0.80);
  width: calc(640px * 0.85);
  position: absolute;
  position: relative;
  bottom: 12%;
  bottom: 385px;
  bottom: 40px;
  bottom: 24px;
  bottom: 42px;
  z-index: 20;
}

.sectionThree .sec3 .harpersTravels {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  position: relative;
  bottom: 7.6px;
  left: 50%;
  left: 65%;
  left: 10%;
}

.sectionThree .sec3 .harpersTravels p {
  width: 35vw;
}

.sectionFour {
  height: 50vh;
  position: relative;
}

.sectionFour .sec4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionFour .sec4 .favouriteThings {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionFour .sec4 .favouriteThings a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.sectionFour .sec4 .favouriteThingsImg img {
  position: absolute;
  position: relative;
  height: calc(400px * 0.85);
  width: calc(640px * 0.80);
  width: calc(640px * 0.85);
  left: 145px;
  left: 127px;
  z-index: 20;
}

.sectionFour .sec4 .favouriteThingsImg .favI {
  background-color: #B9DDE7;
  height: 303.375px;
  height: 40vh;
  height: 53vh;
  width: 50vw;
  width: 668px;
  position: absolute;
  top: 18px;
  left: 681px;
  right: -150px;
  right: -149px;
  z-index: 10;
}

.sectionFive {
  background-color: #F6f6f6;
  height: 80vh;
  position: relative;
}

.sectionFive .sec5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7%;
}

.sectionFive .sec5 .journeyImg {
  margin-top: 30px;
}

.sectionFive .sec5 .journeyImg img {
  height: 228px;
  height: calc(228px * 1.2);
  width: 228px;
  width: calc(228px * 1.2);
  position: relative;
  z-index: 20;
}

.sectionFive .sec5 .journeyImg .journImgBackground {
  background-color: #227284;
  height: calc(228px * 1.2);
  width: calc(228px * 1.2);
  position: absolute;
  bottom: 130px;
  bottom: 100px;
  left: 150px;
  z-index: 10;
}

.sectionFive .sec5 .harpersJourney {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  padding: 0 8%;
}

.sectionFive .sec5 .harpersJourney p {
  margin: 23px 0;
}

.sectionFive .sec5 .harpersJourney a {
  display: inline-block;
}

.sectionSix {
  height: 65vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionSix div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image {
  height: 300px;
  width: 300px;
  margin: 0 2%;
}

@media (max-width: 1250px) {
  .headerImgFlex {
    right: 20px;
  }
  .harperTitle {
    left: 25%;
    right: 0%;
    margin-left: 10%;
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.blogBody {
  background-color: #F6f6f6;
}

.blogBody h3 {
  color: #171717;
  font-family: cabin, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
}

.blogBody section {
  background-color: #fff;
  margin: 25px 0;
  padding: 25px 5%;
}

.blogHeader {
  background-image: url(../../../harper-designAndAssets/assets/blog-image-1.jpg);
  height: 80vh;
  position: relative;
}

.blogHeader h1 {
  position: absolute;
  top: 100%;
}

.a img {
  height: 324.75px;
  width: 232.5px;
}

.a a {
  font-family: cabin, sans-serif;
  font-size: 1rem;
  padding: 25px 5%;
}

.two a {
  font-family: cabin, sans-serif;
  font-size: 1rem;
  padding: 25px 5%;
}

.blogMid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 66%;
      grid-template-columns: 33% 66%;
  -webkit-column-gap: 0%;
          column-gap: 0%;
  margin-top: 50px;
}

.blogMid aside {
  margin-right: 5%;
}

.blogMid aside p {
  width: 20vw;
}

.blogMid form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogMid .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogMid button {
  background-color: #f38d8d;
  margin-top: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.nameEmail input {
  height: 50px;
  width: 49%;
}

.sec1 h3 {
  margin-top: 25px;
}

.sect2 {
  background-color: #F6f6f6;
}

.bEntry {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bEntry img {
  height: 89px;
  width: 89px;
}

.bEntry div {
  margin-left: 5%;
}

.maggie {
  margin-bottom: 25px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.midSect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactAside {
  margin-left: 7.5%;
}

.contactAside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
